<div class="addnews page bdbg" style="background-color:white">
	<style>
		.weui-navbar__item2 {
            position: relative;
            display: block;
            flex: 1;
            padding: 15px 0;
            text-align: center;
            font-size: 15px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }


        .weui-navbar__item2:after {
            content: " ";
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            bottom: 0;
            color: #CCCCCC;
            transform-origin: 100% 0;
            transform: scaleX(0.5);
        }

        .weui-navbar__item2:last-child:after {
            display: none;
        }

        .button--animate .button__content--listen::before,
        .button--animate .button__content--listen::after {
            -webkit-animation: anim-ripple 1.2s ease-out infinite forwards;
            animation: anim-ripple 1.2s ease-out infinite forwards;
        }

        .button--animate .button__content--listen::after {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }
		
		.redpoint{
		  display:inline-block;
		  height:16px;
		  width:16px;
		  line-height:16px;
		  text-align:center;
		  font-size:0.1em;
		  border-radius:16px;
		  color:#fff;
		  background:red;
			position: relative;
			top: -8px;
			right: 8px;
		}
    </style>

	<div id="add-news-main">
		<div id="dialogs">
			<div class="js_dialog" id="Reg_Wran" style="display: none;">
				<div class="weui-mask"></div>
				<div class="weui-dialog">
					<div class="weui-dialog__bd" id="Reg_Wran_Msg"></div>
					<div class="weui-dialog__ft">
						<a href="javascript:;" v-on:click.prevent="clearError" class="weui-dialog__btn weui-dialog__btn_primary">確認</a>
					</div>
				</div>
			</div>
		</div>

		<div id="newrentsuccess" style="display: none;">
			<div class="weui-mask_transparent"></div>
			<div class="weui-toast">
				<i class="weui-icon-success-no-circle weui-icon_toast"></i>
				<p class="weui-toast__content">發布完成</p>
			</div>
		</div>

		<div class="page__bd" style="">
			<form id="newspost" v-on:submit.prevent="onSubmit" enctype="multipart/form-data" style="display:none" name="fileinfo">
				<div class="weui-tab">
					<div class="weui-navbar navbg" style="" id="posthd">
						<div class="weui-navbar__item2" v-on:click="close" id="newrentclose">
							<i alt="" class="fa fa-2x fa-mail-reply" style="color:gray;padding-left:10px;width:100%;text-align:left"></i>
						</div>
						<div class="weui-navbar__item2" style="font-size:20px">
							發佈動態
						</div>
						<div class="weui-navbar__item2" style="visibility:hidden">
							<i alt="" class="fa fa-2x fa-check" style="color:green;width:90%;text-align:right"></i>
						</div>
					</div>

					<div class="weui-tab__panel">
						<div class="weui-mask" id="postMask" style="display: none;"></div>
						<div class="page__bd" style="" id="newpostform">
							<div id="gallery" v-on:click="cancelSelectAttachment" class="weui-gallery">
								<div v-if="selectedAttachment && selectedAttachment.type == 'image'" :style="getAttachmentStyle(selectedAttachment)"
								 class="weui-gallery__img" id="galleryImg">

								</div>
								<div v-if="selectedAttachment && selectedAttachment.type == 'voice'" :style="getAttachmentStyle(selectedAttachment)"
								 class="weui-gallery__img" id="galleryImg">

								</div>
								<div v-if="selectedAttachment && selectedAttachment.type == 'video'" class="weui-gallery__img" id="galleryImg">
									<video :src="selectedAttachment.origin" style="max-width:100%;max-height:100%;height:auto;width:auto;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)"
									 preload="auto" autoplay loop muted playsinline webkit-playsinline />
								</div>

								<div class="weui-gallery__opr">
									<a v-on:click="removeAttachment" href="javascript:" class="weui-gallery__del">
										<i class="weui-icon-delete weui-icon_gallery-delete"></i>
									</a>
								</div>
							</div>
							<div class="weui-cells__title">
								動態內容(30字內)
							</div>
							<div class="weui-cells weui-cells_form">

								<div v-bind:class="{ 'weui-cell' : true, 'weui-cell_warn' : hasError('Content') }">
									<div class="weui-cell__bd">
										<textarea v-model="model.Content" class="weui-textarea" rows="5" name="Content" style="user-select: all;-webkit-user-select: all;background-color: rgba(255, 255, 255, 0);"></textarea>
										<div class="weui-textarea-counter"><span>0</span>/30</div>
									</div>
								</div>


							</div>
							<div class="weui-cells__title">請選擇相關技能</div>

							<div class="weui-cells weui-cells_form">
								<div class="weui-cell weui-cell_select">
									<div class="weui-cell__bd">
										<select class="weui-select" v-model="model.Kind" name="Kind">
											<option v-for="(item, index) in kindOptions" :key="index" :value="item.value">
												{{ item.text }}
											</option>
										</select>
									</div>
								</div>
							</div>
							<div class="weui-cells__title">
								附加內容
								<a href="javascript:;" id="upia" v-on:click="beginPickAttachment('image')" class="weui-btn weui-btn_mini weui-btn_primary">相片</a>
								<a href="javascript:;" id="upva" v-on:click="beginPickAttachment('video')" class="weui-btn weui-btn_mini weui-btn_primary">影片</a>
								<a href="javascript:;" v-on:click="beginPickAttachment('voice')" class="weui-btn weui-btn_mini weui-btn_primary">錄音</a>
							</div>

							<div class="weui-cells weui-cells_form">

								<div class="weui-cell">
									<div class="weui-cell__bd">
										<div class="weui-uploader">
											<div class="weui-uploader__hd">
												<div class="weui-uploader__info" id="picinfo">
													<span>{{ getAttachSummaryText('image') }}</span>
													<span v-show="getAttachSummaryText('video')" style="padding-left: 10px;">{{ getAttachSummaryText('video') }}</span>
													<span v-show="getAttachSummaryText('voice')" style="padding-left: 10px;">{{ getAttachSummaryText('voice') }}</span>
												</div>
											</div>
											<div class="weui-uploader__bd">
												<ul class="weui-uploader__files" id="uploaderFilesI">
													<li v-for="item in attachedImages" :key="item.id" class="weui-uploader__file" v-on:click="onAttachmentSelected(item.id)"
													 :style="getAttachmentStyle(item)">
													</li>
													<li v-for="item in attachedVideos" :key="item.id" class="weui-uploader__file" v-on:click="onAttachmentSelected(item.id)">
														<video :src="item.origin" style="max-width:100%;max-height:100%;height:auto;width:auto;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)"
														 preload="auto" autoplay loop muted playsinline webkit-playsinline />
													</li>
													<li v-for="item in attachedVoices" :key="item.id" class="weui-uploader__file">
														<div class="msgcontent" style="float: right;position: relative; display: inline; word-break: break-word; color: #a6df9a;; padding: 0px; background-color:#F8F8F8; font-size: 14px; border-radius: 1em;">
															<div style="height: 100%; width: 100%; border-radius: 999em; overflow: hidden;">
																<div style="width: 100%; height: 100%; padding: 5px 15px;">
																	<i v-if="voicePlay.status == 'play'" v-on:click="stopVoice(item)" class=" fa-1x text-inverse ion-ios-pause"
																	 style="margin: 15px 0px auto;"></i>
																	<span v-else v-on:click="playVoice(item)">
																		<i class="fa-1x text-inverse ion-ios-play" style="margin: 15px 0px auto;"></i>
																		<span style="position: relative; padding-left: 5px; margin: 15px 0px auto;border-left: 1px solid gray;">
																			{{ getDurationText(item) }}
																		</span>
																	</span>

																</div>
															</div>

														</div>
														<i v-show="voicePlay.status != 'play'" v-on:click="removeVoice(item.id)" class="fa fa-times-circle" style="color:gray;padding-left: 30px;padding-top: 20px;"></i>

													</li>
												</ul>

											</div>
										</div>
									</div>
								</div>

								<br>

							</div>
						</div>

						<div class="page__ft" style="">

						</div>

					</div>
				</div>

			</form>

			<div v-bind:style="{display:(voiceRecording?'block':'none')}" v-show="voiceRecording" style="position:absolute;top:0;width:100%;height:100%">

				<div class="weui-mask" id="" @click="voiceRecording=false" v-bind:style="{display:(voiceRecording?'block':'none')}">

				</div>
				<div id="voice-msg-btn" class="bdbg" v-bind:style="{display:(voiceRecording?'block':'none')}" style="text-align:center;z-index:1001;width:100px;height:100px;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)">
					<div class="button__content--listen">
						<i class="ion-mic-a fa-4x text-inverse " style="color:dimgray"></i>
					</div>

				</div>
			</div>
		</div>

		<div class="page__ft" style="position:fixed;bottom:0px;left:5%;width:90%">
			<a id="btnSubmit" href="javascript:;" v-on:click.prevent="onSubmit" style="" class="weui-btn weui-btn_primary">
				發表動態
			</a>
			<div id="onzip" style="display: none;">
				<div class="weui-mask_transparent"></div>
				<div class="weui-toast">
					<i class="weui-loading weui-icon_toast"></i>
					<p class="weui-toast__content">msg</p>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
		var mainVue = new Vue({
			el: "#add-news-main",
			data: {
				model: {
					Content: '',
					Kind: ''
				},
				kindOptions: [],
				limit: {
					image: 3,
					video: 1,
					voice: 1
				},
				typeText: {
					image: '相片',
					video: '影片',
					voice: '錄音'
				},
				unit: {
					image: '張',
					video: '個',
					voice: '個'
				},
				attachments: [],
				selectedAttachment: null,
				voiceRecording: false,
				player: null,
				voicePlay: {
					status: ''
				},
				errors: []
			},
			computed: {
				attachedImages: function() {
					return this.getAttachments('image');
				},
				attachedVideos: function() {
					return this.getAttachments('video');
				},
				attachedVoices: function() {
					return this.getAttachments('voice');
				}
			},
			created: function() {
				window.addEventListener('init-page', this.init);
				window.addEventListener('add-photo', this.addPhoto);
				window.addEventListener('add-video', this.addVideo);
				window.addEventListener('add-voice', this.addVoice);
				window.addEventListener('voice-play', this.voicePlayEvent);
			},
			methods: {
				init: function(e) {
					console.log('init', e.detail);
					for (var i = 0; i < e.detail.length; i++) {
						var item = e.detail[i];
						this.kindOptions.push({
							value: item.KindID,
							text: item.KindName
						})
						if (i == 0) this.model.Kind = item.KindID;
					}
				},
				close: function() {
					plus.webview.close(plus.webview.currentWebview());
				},
				getAttachmentStyle: function(item) {
					if (!item) return 'display:none';

					if (item.type == 'image') return 'background-image:url(' + item.origin + ')';
					if (item.type == 'video') return 'background-image:url(' + item.path + ')';
				},
				getDurationText: function(item) {
					var minutes = item.minutes;
					if (item.minutes < 10) minutes = '0' + minutes;

					var seconds = item.seconds;
					if (item.seconds < 10) seconds = '0' + seconds;

					return minutes + '"' + seconds;
				},
				getAttachments: function(type) {
					if (!this.attachments.length) return [];
					return this.attachments.filter(function(item) {
						return item.type == type;
					});
				},
				checkAttachments: function(type) {
					var max = this.limit[type];
					var items = this.getAttachments(type);

					if (items.length < max) return '';
					//相片只能上傳三張
					return this.typeText[type] + '只能上傳' + max + this.unit[type];
				},
				getAttachSummaryText: function(type) {
					var count = this.getAttachments(type).length;
					if (!count) return '';
					return this.typeText[type] + ':' + count + this.unit[type];
				},
				beginPickAttachment: function(type) {
					var errMsg = this.checkAttachments(type);
					if (errMsg) {
						alert(errMsg);
						return;
					}

					if (type == 'image' || type == 'video') {
						window.openGallery(type);
					} else {
						this.voiceRecording = true;
					}

				},
				addAttachments: function(item) {
					this.attachments.push(item);
					for (var i = 0; i < this.attachments.length; i++) {
						this.attachments[i].id = i + 1;
					}
				},
				getAttachmentById: function(id) {
					return this.attachments.find(function(item) {
						return item.id == id;
					});
				},
				addPhoto: function(e) {
					console.log('addPhoto', e.detail);
					this.addAttachments(e.detail);
				},
				addVoice: function(e) {
					this.voiceRecording = false;
					console.log('addVoicessss');
					console.log('addVoice', e.detail);
					this.addAttachments(e.detail);
				},
				onAttachmentSelected: function(id) {
					this.selectedAttachment = this.getAttachmentById(id);
					$("#gallery").fadeIn(100);
					$("#posthd").hide();

				},
				cancelSelectAttachment: function() {
					this.selectedAttachment = null;
					$("#gallery").fadeOut(100);
					$("#posthd").show();
				},
				removeVoice: function(id) {
					this.removeAttachment(id);
					if (this.player) this.stopVoice();
				},
				removeAttachment: function(id) {
					if (!id) id = this.selectedAttachment.id;
					var idx = this.attachments.findIndex(function(item) {
						return item.id == id;
					});

					this.attachments.splice(idx, 1);
					this.cancelSelectAttachment();
				},
				addVideo: function(e) {
					console.log('addVideo', e.detail);
					this.addAttachments(e.detail);
				},
				playVoice: function(item) {
					console.log('playVoice');

					this.player = plus.audio.createPlayer(item.origin);

					this.player.addEventListener("play", function() {
						window.dispatchEvent(new CustomEvent('voice-play', {
							'detail': {
								status: 'play'
							}
						}));
					});
					this.player.addEventListener("stop", function() {
						window.dispatchEvent(new CustomEvent('voice-play', {
							'detail': {
								status: 'stop'
							}
						}));
					});
					this.player.addEventListener("ended", function() {
						window.dispatchEvent(new CustomEvent('voice-play', {
							'detail': {
								status: 'ended'
							}
						}));
					});
					this.player.addEventListener("error", function() {
						window.dispatchEvent(new CustomEvent('voice-play', {
							'detail': {
								status: 'error'
							}
						}));
					});

					this.player.play(function() {
						console.log('play cb');
					}, function(err) {
						console.error("Audio play error: " + err.message);
					});
				},
				voicePlayEvent: function(e) {
					var status = e.detail.status;
					this.voicePlay.status = status;
					if (status == 'ended') {
						this.player.close();
					}
				},
				stopVoice: function(item) {
					this.player.stop();
					this.player.close();
				},
				hasError: function(key) {
					if (!this.errors.length) return false;
					var idx = this.errors.findIndex(function(item) {
						return item.key == key
					});
					return idx >= 0;
				},
				addError: function(key, msg) {
					this.errors.push({
						key: key,
						msg: msg
					});

					this.controllErrMsg(msg);
				},
				clearError: function() {
					this.errors = [];
					this.controllErrMsg(null);
				},
				controllErrMsg: function(msg) {
					if (msg) {
						$("#Reg_Wran_Msg").text(msg);
						$("#Reg_Wran").show();
					} else {
						$("#Reg_Wran_Msg").text('');
						$("#Reg_Wran").hide();
					}
				},
				onSubmit: function() {
					console.log('onSubmit')
					this.clearError();
					if (!this.attachments.length) {
						if (!this.model.Content) {
							this.addError('Content', '內容不可為空');
							return;
						}
					}

					if (!this.model.Content) this.model.Content = '';


					var btnSubmit = $("#btnSubmit");
					btnSubmit.attr("onclick", false);

					var fileImgList = [];
					var fileList = [];
					var fileGifList = [];
					var voiceList = [];

					for (var i = 0; i < this.attachedImages.length; i++) {
						var imageItem = this.attachedImages[i];
						fileImgList.push(imageItem.origin);
					}
					for (var i = 0; i < this.attachedVideos.length; i++) {
						var videoItem = this.attachedVideos[i];
						fileList.push(videoItem.origin);
						fileGifList.push(videoItem.path);
					}
					for (var i = 0; i < this.attachedVoices.length; i++) {
						var voiceItem = this.attachedVoices[i];
						voiceList.push(voiceItem.origin);
					}

					console.log('fileList', fileList);
					console.log('fileGifList', fileGifList);
					console.log('voiceList', voiceList);

					$("#loadingToast").show();
					var task = plus.uploader.createUpload(ajaxurl + "News", {
							method: "POST",
							timeout: 0,
							blocksize: 0
						},
						function(t, status) {
							var r;
							try {
								r = JSON.parse(t.responseText);
							} catch (e) {

								console.dir(status)
								console.dir(t)
								$("#loadingToast").hide();
								alert("上傳錯誤");

								return;
							}

							if (r.result_status) {
								$("#loadingToast").hide();
								$("#newrentsuccess").fadeIn(200);

								plus.webview.all()[plus.webview.all().length - 2].evalJS("cardlist.chgtag(0)")
								setTimeout(function() {
									$("#newrentsuccess").hide();
									$("#newrentclose").click();
								}, 2000)
							} else {
								$("#loadingToast").hide();
								alert(r.result_message)
								$(e).attr("onclick", "newpost(this)");
							}
						}
					);

					for (j = 0; j < fileList.length; j++) {
						task.addFile(fileList[j], {
							key: "file"
						});
					}
					for (j = 0; j < fileImgList.length; j++) {
						task.addFile(fileImgList[j], {
							key: "fileImg" + j
						});
					}
					for (j = 0; j < fileGifList.length; j++) {
						task.addFile(fileGifList[j], {
							key: "gif"
						});
					}
					for (j = 0; j < voiceList.length; j++) {
						task.addFile(voiceList[j], {
							key: "voice"
						});
					}

					task.addData("Content", this.model.Content);
					task.addData("Kind", this.model.Kind);
					task.setRequestHeader("Server_Token", encodeURIComponent(Server_Token))
					task.start();
				}
			}
		});
	</script>

	<script>
		$(function() {
			plus.nativeUI.showWaiting("載入中...");
			getimdata("getMyCert", "", function(s) {
				GInfo.MyCert = s;
				var data = GInfo.MyCert;
				var newdata = data.filter(e => e.isPass == true);
				if (newdata.length == 0) {
					plus.nativeUI.closeWaiting();
					alert("只要成為傾聽師，就可以發佈動態喔~");
					plus.webview.close(plus.webview.currentWebview())
					return;
				}
				window.dispatchEvent(new CustomEvent('init-page', {
					'detail': newdata
				}));

				$("#newspost").show();
				plus.nativeUI.closeWaiting();
			})

			$('.weui-tabbar').hide();
		})
	</script>


	<script>
		function openGallery(type) {
			plus.gallery.pick(function(url) {
					plus.io.resolveLocalFileSystemURL(url, function(entry) {
						var origin = entry.toLocalURL(); //原圖
						var filename = entry.name;

						if (type == 'video') {
							handleVideo(origin, filename);
						} else {
							var path = "_doc/upload/news" + "-" + filename;
							plus.zip.compressImage({
									src: origin, //src: (String 类型 )压缩转换原始图片的路径
									dst: path, //压缩转换目标图片的路径
									quality: 50, //quality: (Number 类型 )压缩图片的质量.取值范围为1-100
									overwrite: true, //overwrite: (Boolean 类型 )覆盖生成新文件
								},
								function(event) {
									var detail = {
										type: 'image',
										origin: origin,
										path: path
									};

									console.log('detail', detail);
									window.dispatchEvent(new CustomEvent('add-photo', {
										'detail': detail
									}));

								},
								function(error) {
									plus.nativeUI.toast("压缩图片失败，请稍候再试");
								});
						}
					}, function(e) {
						plus.nativeUI.toast("读取拍照文件错误：" + e.message);
					});

				},
				function(err) {
					console.error(err);
				}, {
					filename: "_doc/camera/",
					filter: type,
					system: true,
					multiple: false,
					maximum: 1,
					onmaxed: function() {
						plus.nativeUI.alert('目前只能一個一個選擇');
					}
				});
		}
		//end of openGallery

		function handleVideo(path, name) {

			//開始壓縮
			Bridge.setffmpegStatisticsCallback(function(st) {

			})

			var isnext = false;
			var smallpic = "";
			var alltime = 0;
			var wWaiting = plus.nativeUI.showWaiting("壓縮中...", {
				back: "none",
				width: "100px",
				height: "100px"
			});

			Bridge.setffmpegLogCallback(function(st) {
				var dst = decodeURIComponent(st).replace(/\+/g, ' ');
				try {
					if (isnext) {
						var timearray = dst.split(":");
						alltime = (timearray[0] * 60 + (timearray[1] * 1)) * 60 + (timearray[2] * 1.0);

						isnext = false;
						if (alltime > 30) {
							alltime = 30;
						}
					}
					if (dst.indexOf("  Duration: ") != -1) {
						isnext = true;
					}
					if ((dst.indexOf(" time=") != -1) && (dst.indexOf(" bitrate") != -1)) {
						var nowtime = dst.split(" time=")[1].split(" bitrate")[0];
						if (nowtime.indexOf("-") == -1) {
							var nowtimearray = nowtime.split(":");
							var nowtimeint = (nowtimearray[0] * 60 + (nowtimearray[1] * 1)) * 60 + (nowtimearray[2] * 1.0);
							console.log("setffmpegLogCallback", nowtimeint + " / " + alltime)
							wWaiting.setTitle("進度" + parseInt((nowtimeint / alltime) * 100) + "%");
						}

					}
					if (dst.indexOf("video:") == 0) {
						plus.io.requestFileSystem(plus.io.PRIVATE_DOC, function(fs) {
							var cmd2 = "-i " + path + " -an -vframes 1 " + fs.root.toLocalURL() + "tmp.jpg" + " -y";
							console.dir(cmd2);

							Bridge.setffmpegLogCallback(function(st2) {
								var dst2 = decodeURIComponent(st2).replace(/\+/g, ' ')
								if (dst2.indexOf("video:") == 0) {
									wWaiting.setTitle("轉檔完成");
									setTimeout(function() {
										plus.nativeUI.closeWaiting();
									}, 1000);

									console.log(fs.root.toLocalURL() + "tmp.mp4");
									console.log(fs.root.toLocalURL() + "tmp.jpg");
									var detail = {
										type: 'video',
										origin: fs.root.toLocalURL() + "tmp.mp4",
										path: fs.root.toLocalURL() + "tmp.jpg"
									};

									console.log('detail', detail);
									window.dispatchEvent(new CustomEvent('add-video', {
										'detail': detail
									}));

								}
							})
							Bridge.ffmpegExecute(cmd2, function() {}, "AddNews")

						})
					}
				} catch (err) {
					console.error(err);
					//TODO handle the exception
				}
			});

			plus.io.requestFileSystem(plus.io.PRIVATE_DOC, function(fs) {
				//I路徑 path
				//O路徑 fs.root + "/tmp.mp4"
				console.dir(fs.root)

				var cmd = "-i " + path +
					" -vf \"fps=60\" -vf scale='min(720,iw):-2' -t 30 -strict experimental -profile:v high -vcodec libx264 -bsf:v h264_mp4toannexb -f mp4 -movflags +faststart " +
					fs.root.toLocalURL() + "tmp.mp4" + " -y";

				fs.root.getDirectory("tmp", {
					create: true
				}, function() {
					Bridge.ffmpegExecute(cmd, function(st) {

					}, "AddNews")
				})


			}, function(e) {
				alert("Request file system failed: " + e.message);
			});
		}
	</script>

	<script>
		// 控制錄音
		var posStart = 0; //初始化起点坐标
		var posEnd = 0; //初始化终点坐标
		var posMove = 0; //初始化滑动坐标

		var r = null,
			t = null,
			ri = null,
			rt = null,
			p = null;
		var entry = null;
		var isstart = false;
		var isplaying = false;

		function startRecord(ele) {
			isstart = true;
			r = plus.audio.getRecorder();
			if (r == null) {
				alert('錄音實例化失敗');
				return;
			}
			var forma = "";

			if (plus.os.name == "Android") forma = "amr";
			else forma = "aac";

			r.record({
				filename: '_doc/audio/',
				format: forma,
			}, function(path) {
				onVoiceRecorded(path);
			}, function(e) {
				alert('錄音失敗：' + e.message);
			});

		}


		function stopRecord() {
			isstart = false;
			if (r != null) {
				r.stop();
			}
		}



		function onVoiceRecorded(path) {
			var player = plus.audio.createPlayer(path);

			plus.io.resolveLocalFileSystemURL(path, function(entry) {
				var origin = entry.toLocalURL();
				setTimeout(function() {
					var duration = player.getDuration();
					var detail = {
						type: 'voice',
						origin: origin,
						path: path,
						minutes: Math.floor(duration / (60)),
						seconds: Math.floor(duration / (1))
					};
					window.dispatchEvent(new CustomEvent('add-voice', {
						'detail': detail
					}));

					player.close();
				}, 500)


			}, function(e) {
				alert('錄音失敗：' + e.message);
			});

		}

		var voiceBtn = document.getElementById("voice-msg-btn");
		voiceBtn.addEventListener("touchstart", function(e) {
			e.preventDefault(); //阻止浏览器默认行为
			posStart = 0;
			posStart = e.touches[0].pageY; //获取起点坐标
			// btnElem.value = '松开 结束';
			$(voiceBtn).addClass("button--animate");
			$(voiceBtn).find("i").css("color", "red");

			startRecord();
		});

		voiceBtn.addEventListener("touchend", function(e) {
			e.preventDefault();
			posEnd = 0;
			posEnd = e.changedTouches[0].pageY; //获取终点坐标

			$(voiceBtn).removeClass("button--animate");
			$(voiceBtn).find("i").css("color", "dimgray");

			stopRecord();
		});
	</script>
</div>
