<div class="newspage page bdbg" style="overflow-y:hidden">
	<style>
		.memberinfo {
            width: 90%;
            text-align: center;
            height: 100px
        }

        .weui-media-box__hd2 {
            margin-right: .2em;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
    </style>
	<div class="flexbar " style="display: flex;position:fixed;top:0;left:0;height:60px;z-index:300;width:100%;padding-bottom:10px;overflow:hidden;color:white">

		<div class="memberinfo1" style="width: 10%;height:70px;position:relative; flex: 0 0 10%; ">
			<div id="backSetting" class="backb" onclick="plus.webview.close(plus.webview.currentWebview())" style="text-align:center;position:relative;top:50%;left:50%;transform:translate(-50%,-50%);width:30px;height:30px;border-radius: 999em;">
				<i class="fa fa-angle-left" style="font-size:30px;position:relative;line-height:30px"> </i>
			</div>

		</div>


		<div class="memberinfo" style="height:60px;position:relative;top:60px;flex: 0 0 80%;">
			<a href="javascript:void(0);" style="padding:10px 10px" class="weui-media-box weui-media-box_appmsg">

				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title" style="color:white">{{data.Member.Name}}</h4>

				</div>
				<div class="weui-media-box__ft" style="padding-right:5px;padding-top:5px">
					<div style="border-color:deepskyblue" onclick="setFollow('{{data.Member.Member_ID}}')" class="weui-btn weui-btn_mini weui-btn_notfollow">關注</div>
				</div>
				<img class="weui-media-box__thumb" style="object-fit:cover;border-radius:999em;width:50px;height:50px" src="{{data.Member.Img}}"
				 onerror="this.src='img/icon/noimage_person.png'" alt="">
			</a>
		</div>
		<div class="memberinfo1" style="width: 10%;height:70px;position:relative; flex: 0 0 10%; ">

			<div id="" class="backb moreicon" style="width:30px;height:30px;border-radius: 999em;text-align:center;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)">
				<i class="ion-ios-more text-inverse" style="font-size:30px;line-height:30px;position:relative;"> </i>
			</div>
		</div>
	</div>

	<div class="weui-tabbar hov tabbg" id="newstab">


		<a id="" class="weui-tabbar__item" onclick="setLike('{{data.Member_News_ID}}')">
			<div style="height:50px;">
				<i alt="" class="fa fa-1x fa-heart-o" liketag="{{data.Liked}}" binfo="likecount2" style="font-size:14px;transform:translateY(-50%);position:relative;top:50%">
					讚 ({{data.LikeCount}})</i>
			</div>

		</a>
		<a id="" class="weui-tabbar__item" onclick="$('#searchText').click()">
			<div style="height:50px;">
				<i alt="" class="fa fa-1x fa-comment-o" style="font-size:14px;transform:translateY(-50%);position:relative;top:50%">
					留言 ({{data.CommentCount}})</i>
			</div>
		</a>
	</div>
	<div class="newsdiv" style="overflow-y:auto;height:100%">
		<div class="page__hd newspich" style="padding:0">
			<div id="ActionDiv" style="display:none">
				<div class="weui-mask" id="iosMask" style="" onclick="$('#ActionDiv').hide(); $('#iosActionsheet').removeClass('weui-actionsheet_toggle');"></div>
				<div class="weui-actionsheet " id="iosActionsheet" style="overflow-y:auto; -webkit-overflow-scrolling: touch;height:50%">
					<div class="weui-actionsheet__title">
						<p class="weui-actionsheet__title-text" style="position:relative;width:100%;text-align:left" id="ActionTitle">禮物清單
							(目前擁有紅利: {{GInfo.MyInfo.R}} 點)</p>
					</div>
					<div class="weui-actionsheet__menu" id="ActionMenu">

					</div>
					<div class="weui-actionsheet__action">
						<div class="weui-actionsheet__cell" onclick="$('#ActionDiv').hide(); $('#iosActionsheet').removeClass('weui-actionsheet_toggle');"
						 id="iosActionsheetCancel">取消</div>
					</div>
				</div>

			</div>
			<video class="demovideo" data-setup='{}' style="width:auto;height:auto;max-width:100%;max-height:70%;display:none"
			 src="" preload="metadata" muted playsinline webkit-playsinline>
				<source src='' type='video/mp4'>
			</video>

			<img class="demoimg" src="img/covers/1.jpg" style="width:auto;height:auto;max-width:100%;max-height:70%;display:none" alt="">
			<div class="swiper-container" style="">
				<div class="swiper-wrapper">

				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->

			</div>


		</div>

		<div class="page__bd " style="">

			<div class="weui-panel weui-panel_access profileinfo">

				<div class="weui-panel__bd">
					<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
						<div class="weui-media-box__hd" onclick="hovernavc(this,'{{data.Member.Member_ID}}')" btag="PlayerPage">
							<img class="weui-media-box__thumb" style="object-fit:cover;border-radius:999em;width:50px;height:50px" src="{{data.Member.Img}}"
							 onerror="this.src='img/icon/noimage_person.png'" alt="">
						</div>
						<div class="weui-media-box__hd" style="position:absolute" onclick="hovernavc(this,'{{data.Member.Member_ID}}')"
						 btag="PlayerPage">

							<img class="weui-media-box__thumb" style="object-fit:cover;width:54px;height:54px;position:relative;top:-2px"
							 src="img/header/{{data.Member.header}}_C.png" alt="">

						</div>
						<div class="weui-media-box__bd" style="height:60px" onclick="hovernavc(this,'{{data.Member.Member_ID}}')" btag="PlayerPage">
							<h4 id="onlinevue" class="weui-media-box__title" v-bind:style="{color:(('{{data.Member.color}}'||'black')=='black'?'black':'{{data.Member.color}}')}">{{data.Member.Name}}
								<span style="font-size:12px" v-bind:style='{"color":(online?"lightgreen":"darkgray")}'>{{timest}}</span></h4>
							<p class="weui-media-box__desc">
								<span id="genderlab" v-bind:class='{"ganlabel_g":(gander=="G"),"ganlabel_b":(gander=="B"),"ganlabel_n":(gander=="N")}'
								 class="">{{data.Member.Age}}</span>
							</p>
						</div>
						<div class="weui-media-box__ft">
							<div style="border-color:deepskyblue" class="weui-btn weui-btn_mini weui-btn_notfollow" onclick="setFollow('{{data.Member.Member_ID}}')">關注</div>
						</div>
					</a>

				</div>

			</div>
			<div v-if="article" id="main-content">
				<article id="article-content" class="weui-article" style="background-color:white">

					<p>
						{{article.Content}}
					</p>

					<div v-if="article.voice" v-on:click="playVoice(article.voice)" style="word-break: break-word;color: white;width: 80px;height:30px;padding: 0px;background-color: rgb(166, 223, 154);font-size: 14px;border-radius: 1em;">
						<div style="height: 100%; color: black; width: 100%; border-radius: 999em; overflow: hidden;">
							<div style="width: 100%; height: 100%; padding: 5px 15px;">

								<div v-if="isPlaying(article.voice)">
									<i class=" fa-1x text-inverse ion-ios-pause" style="margin: 15px 0px auto;"></i>
								</div>
								<div v-else-if="isPaused(article.voice)">
									<i class=" fa-1x text-inverse ion-ios-play" style="margin: 15px 0px auto;"></i>
								</div>
								<div v-else>
									<i class=" fa-1x text-inverse ion-ios-play" style="margin: 15px 0px auto;"></i>
									<span style="position: relative; padding-left: 2px; margin: 15px 0px auto;">
										{{ article.voice.duration }}
									</span>
								</div>


							</div>
						</div>
					</div>

					<p class="page__desc" style="min-height: 14px;padding-top: 10px;">
						{{article.CreateTime}}
					</p>
					<div v-show="false" class="" id="postlist" style="white-space: nowrap;width: auto;list-style: none;display: flex;margin:10px 0px 20px 0px; padding: 10px 15px;">

						<div style="width:100%;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);margin-right:20px">

							<a href="javascript:void(0);" onclick="hovernav(this,'id')" btag="Skill" class="weui-media-box weui-media-box_appmsg skillinfo">

								<div class="weui-media-box__hd">
									<img class="weui-media-box__thumb" style="position:relative;top:50%;left:50%;transform:translate(-50%,-50%);width:auto;height:auto;max-width:100%;max-height:100%;padding-right:5px"
									 src="http://p5.img.cctvpic.com/nettv/newgame/2012/0821/20120821061520782.jpg" alt="">
								</div>
								<div class="weui-media-box__bd">
									<h6 class="weui-media-box__title gamename">英雄聯盟</h6>
									<p class="weui-media-box__desc gamefee" style="color:red">200元/1小時</p>
								</div>
								<div style="position:relative;right:0;display: flex;text-align:center;padding: 15px; border-left: 1px solid #E5E5E5;margin-left:10px">
									<p class="weui-media-box__desc OrderTimes" style=" ">接單999次</p>

								</div>
							</a>


						</div>
					</div>
				</article>

				<div v-bind:style="{display:(voiceRecording?'block':'none')}" v-show="voiceRecording" style="position:absolute;top:0;width:100%;height:100%">

					<div class="weui-mask" id="" @click="voiceRecording=false" v-bind:style="{display:(voiceRecording?'block':'none')}">

						<div id="voice-msg-btn" class="bdbg" v-bind:style="{display:(voiceRecording?'block':'none')}" style="text-align:center;z-index:1099;width:100px;height:100px;border-radius:999em;position:relative;top:50%;left:50%;transform:translate(-50%,-50%)">
							<div class="button__content--listen">
								<i class="ion-mic-a fa-4x text-inverse " style="color:dimgray"></i>
							</div>

						</div>
					</div>
				</div>

				<div class="weui-panel weui-panel_access">
					<div class="weui-panel__hd">
						留言 {{ article.CommentCount }}
					</div>
					<div style="background-color: #EFEFF4;">

						<div class="weui-search-bar">
							<div class="weui-search-bar__form">
								<div class="weui-search-bar__box">

									<input type="text" v-on:focus="beginComment" v-model="commentModel.Content" class="weui-search-bar__input" id="commentInput"
									 placeholder="留點什麼吧" required="">
									<a href="javascript:" class="weui-icon-clear" id=""></a>
								</div>
								<label class="weui-search-bar__label" id="searchText" style="font-weight:300;padding-left: 30px;transform-origin: 0px 0px; opacity: 1; transform: scale(1, 1);text-align:left">

									<span>留點什麼吧</span>
								</label>
							</div>
							<a v-on:click.prevent="submitComment" href="javascript:" class="weui-search-bar__cancel-btn">發送</a>
							<a v-on:click.prevent="cancelComment" href="javascript:" class="weui-search-bar__cancel-btn">取消</a>
						</div>
						<div v-show="commentting" class="weui-uploader__bd">
							<a v-if="canAddVoice" v-on:click.prevent="beginVoiceRecording" href="javascript:;" style="margin: 10px;" class="weui-btn weui-btn_mini weui-btn_primary">
								錄音
							</a>
							<ul v-if="attachments.length" class="weui-uploader__files">
								<li class="weui-uploader__file" style="margin: 10px;">
									<div class="msgcontent" style="float: right;position: relative; display: inline; word-break: break-word; color: #a6df9a;; padding: 0px; background-color:#F8F8F8; font-size: 14px; border-radius: 1em;">
										<div style="height: 100%; width: 100%; border-radius: 999em; overflow: hidden;">
											<div style="width: 100%; height: 100%; padding: 5px 15px;">
												<i v-if="plusVoiceStatus == 'play'" v-on:click="stopAttachmentVoice" class=" fa-1x text-inverse ion-ios-pause"
												 style="margin: 15px 0px auto;">
												</i>
												<span v-else v-on:click="playAttachmentVoice(attachments[0])">
													<i class="fa-1x text-inverse ion-ios-play" style="margin: 15px 0px auto;"></i>
													<span style="position: relative; padding-left: 5px; margin: 15px 0px auto;border-left: 1px solid gray;">
														{{ attachments[0].duration }}
													</span>
												</span>

											</div>
										</div>

									</div>
									<i v-show="plusVoiceStatus != 'play'" v-on:click="removeAttachment" class="fa fa-times-circle" style="color:gray;padding-left: 30px;padding-top: 20px;"></i>
								</li>
							</ul>

						</div>
					</div>


					<div class="weui-panel__bd">
						<div v-for="(item, index) in commentList" :key="index" class="weui-media-box weui-media-box_appmsg weui-media-box_text">
							<!-- <button v-if="canRemoveComment(item)" v-on:click.prevent="removeComment(item)" type="button" style="position:absolute; top:0; right:0;" class="weui-btn weui-btn_mini weui-btn_default">
								<i class="fa fa-x fa-trash-o"></i>
							</button> -->
							<div class="weui-media-box__hd">
								<img class="weui-media-box__thumb" :src="item.Member_Img" style="object-fit:cover;border-radius:999em;width:50px;height:50px"
								 alt="">
							</div>
							<div class="weui-media-box__bd">
								<h4 class="weui-media-box__title">{{ item.Member_Name }}</h4>
								<p class="weui-media-box__desc">{{ item.Content }}</p>

								<div v-if="item.voice" v-on:click="playVoice(item.voice)" style="word-break: break-word;color: white;width: 80px;height:30px;padding: 0px;background-color: rgb(166, 223, 154);font-size: 14px;border-radius: 1em;">
									<div style="height: 100%; color: black; width: 100%; border-radius: 999em; overflow: hidden;">
										<div style="width: 100%; height: 100%; padding: 5px 15px;">
											<div v-if="isPlaying(item.voice)">
												<i class=" fa-1x text-inverse ion-ios-pause" style="margin: 15px 0px auto;"></i>
											</div>
											<div v-else-if="isPaused(item.voice)">
												<i class=" fa-1x text-inverse ion-ios-play" style="margin: 15px 0px auto;"></i>
											</div>
											<div v-else>
												<i class=" fa-1x text-inverse ion-ios-play" style="margin: 15px 0px auto;"></i>
												<span style="position: relative; padding-left: 2px; margin: 15px 0px auto;">
													{{ item.voice.duration }}
												</span>
											</div>
											<!-- <div>
												<i class=" fa-1x text-inverse ion-ios-play" style="margin: 15px 0px auto;"></i>
												<span style="position: relative; padding-left: 2px; margin: 15px 0px auto;">
													{{ item.voice.duration }}
												</span>
											</div> -->
										</div>
									</div>
								</div>

								<ul class="weui-media-box__info">
									<li class="weui-media-box__info__meta">{{ item.Member_Status }}</li>
									<li class="weui-media-box__info__meta">{{ item.CreateTime }}</li>
								</ul>
							</div>

						</div>
					</div>

				</div>
				<div class="weui-panel weui-panel_access">

					<div class="weui-panel__bd">
						<a href="javascript:void(0);" class="weui-cell weui-cell_access">

							<div class="weui-media-box__bd">
								<p class="weui-media-box__desc" binfo="likecount">讚 {{article.LikeCount}}</p>
								<br>
								<p class="weui-media-box__desc" binfo="likelist">{{article.LikeTop20}}&nbsp;</p>

							</div>

						</a>

					</div>

				</div>
			</div>
		</div>
		<div class="page__ft " style="">
			<br>
			<div id="followsuccess" style="display: none;">
				<div class="weui-mask_transparent"></div>
				<div class="weui-toast">
					<i class="weui-icon-success-no-circle weui-icon_toast"></i>
					<p class="weui-toast__content"></p>
				</div>
			</div>
		</div>
	</div>


	<script type="text/html" id="giftaction">

		<a class="weui-grid">
            <div class="weui-grid__icon">
                <i alt="" class="fa fa-2x fa-money" style="font-size:32px;color:lawngreen"></i>
            </div>
            <p class="weui-grid__label">gift</p>
        </a>


    </script>
	<script type="text/html" id="swli">
		<div class="swiper-slide" style="position:relative;width:100%;height:100%;overflow: hidden; ">
            <img class="swimg" style="position:absolute;top:0;left:0;filter: blur(10px);width:100%;height:100%;z-index:1" src="" alt="">
            <img class="swimg" style="width:auto;height:auto;max-width:100%;max-height:100%;z-index:2" src="" alt="">

            <!-- 真正波的 -->
            <div onclick="togglesound()" class="togglesound" style="z-index:500;position:absolute;left:2%;bottom:40px;background: rgba(0, 0, 0, 0.3); margin-left: auto;margin-right: auto;padding-left: 14px;padding-right: 14px;border-radius: 99em;color:white">
                <i class="ion-android-volume-off fa-1x text-inverse"></i>

            </div>
            <video class="swimg" id="swimgvideo" style="width:auto;height:auto;max-width:100%;max-height:100%" preload="auto" autoplay loop playsinline webkit-playsinline>
                <source src='' type='video/mp4'>

            </video>

        </div>
    </script>
	<script>
		var bottomEl = $("#newstab");
		bottomEl.css("bottom", false)
		bottomEl.css("top", document.documentElement.clientHeight - $(bottomEl).height() + 'px')


		var data = JSON.parse("{{data}}");
		console.log('data', data);

		function hovernavc(el) {
			hovernav_new(el, data.Member.Member_ID, {
				titleText: data.Member.Name,
				img: data.Member.Img,
				moreinfo: true,
				type: 'transparent'
			})

		}
		var isBlock = data.isBlock;
		if (isBlock == true) {
			alert("你已經封鎖此用戶");
			plus.webview.currentWebview().close();

		}
		$(".moreicon").on("click", function() {
			plus.nativeUI.actionSheet({
					title: "更多操作",
					cancel: "取消",
					buttons: [{
							title: "檢舉這則動態",
							color: "#a6df9a"
						},
						{
							title: "封鎖此人",
							color: "#a6df9a"
						}
					]
				},
				function(e) {
					console.log("User pressed: " + e.index);
					console.dir(data)
					if (e.index == 1) {
						var cw;
						if (JSON.parse(Server_Token).Status == "管理員") {
							cw = plus.webview.create(debugurl + "Partition/TrashMsg.html", "callcr", {
								"cachemode": "noCache",
								"background": "transparent",
								"popGesture": "close",
								"height": "100%",
								"margin": "auto",
								"width": "100%"
							}, {
								mid: data.Member_News_ID,
								type: "News"
							});
						} else {
							cw = plus.webview.create('Partition/TrashMsg.html', "callcr", {
								"cachemode": "noCache",
								"background": "transparent",
								"popGesture": "close",
								"height": "100%",
								"margin": "auto",
								"width": "100%"
							}, {
								mid: data.Member_News_ID,
								type: "News"
							});
						}
						cw.addEventListener('close', function(e) {
							//plus.nativeUI.closeWaiting();
						}, false);
						plus.nativeUI.showWaiting("載入中");
						plus.webview.currentWebview().append(cw)
					} else if (e.index == 2) {
						GInfo.block(data.Member.Member_ID, data.Member.Name, 'reload');
					}
				}
			);
		})
		var giftlist;
		new Vue({
			el: "#genderlab",
			data: {
				gander: data.Member.Gender
			}
		})

		new Vue({
			el: "#onlinevue",
			data: {
				orgst: "{{data.Member.isOnline}}",
				online: true,
				days: 0,
				hours: 0,
				mins: 0,
				timest: "正在線上"
			},
			created: function() {
				var self = this;
				var tic = function() {
					if (self.orgst) {
						self.online = false;
						var diff = Date.now() - new Date("{{data.Member.isOnline}}")

						var days = Math.floor(diff / (1000 * 60 * 60 * 24));
						diff -= days * (1000 * 60 * 60 * 24);

						var hours = Math.floor(diff / (1000 * 60 * 60));
						diff -= hours * (1000 * 60 * 60);

						var mins = Math.floor(diff / (1000 * 60));
						diff -= mins * (1000 * 60);

						var seconds = Math.floor(diff / (1000));
						diff -= seconds * (1000);
						self.days = days;
						self.hours = hours;
						self.mins = mins;
						if (days > 7) {
							self.timest = "7天前"
						} else if (days > 0) {
							self.timest = days + "天前"
						} else if (hours > 0) {
							self.timest = hours + "小時前"
						} else if (mins > 0) {
							self.timest = mins + "分前"
						} else {
							self.timest = "1分前"
						}
					} else {

						self.online = true;
						self.timest = "正在線上"
					}

				}
				tic();
				setInterval(tic, 60000)

			}

		})
		var ImgList = JSON.parse(data.ImgList)
		var isonsubmit = false;


		function sendcomment(st) {
			if (isonsubmit)
				return;
			if (st == "") {
				alert("請輸入內容");
			} else {
				isonsubmit = true;
				$.ajax({
					url: ajaxurl + "NewsComment",
					type: 'post',
					data: {
						st: st,
						id: data.Member_News_ID
					},
					headers: {
						"Server_Token": encodeURIComponent(Server_Token)
					},
					timeout: 30000,
					success: function(r) {
						if (r.result_status) {
							var $html = $(publicTools.BBVue($("#commentcard").html(), r.result_content));
							$(".commentlist").prepend($html);

						} else {
							alert(r.result_message);

						}
						$('#commentInput').val("");
						isonsubmit = false;
					},
					error: function() {
						alert("網路錯誤");
						isonsubmit = false;
					}
				});
			}
		}

		function togglesound() {
			if ($(".swiper-container .swiper-wrapper video")[0].volume == 0.0) {
				$(".swiper-container .swiper-wrapper video")[0].volume = 1.0;
				$(".swiper-container .swiper-wrapper div i").removeClass("ion-android-volume-off").addClass("ion-android-volume-up")
			} else {
				$(".swiper-container .swiper-wrapper video")[0].volume = 0.0;
				$(".swiper-container .swiper-wrapper div i").removeClass("ion-android-volume-up").addClass("ion-android-volume-off")
			}


		}
		

		function democomp() {
			//alert("c")
			$(".swiper-container").height($(".swiper-container").prev().height());
			if (ImgList.Video != "") {
				var $html = $($("#swli").html());
				$html.find("video.swimg")[0].src = ImgList.Video;
				$html.find("img.swimg").remove();

				$(".swiper-container .swiper-wrapper").append($html)
				$html.find("video.swimg")[0].volume = 0.0;
				$html.find("video.swimg")[0].play();
				//var oV = videojs('#swimgvideo');
				//alert(ImgList.Video)
				//oV.src ='http://static.qiakr.com/movie/0080108.mp4'// ImgList.Video;
				//oV.load();

				//oV.play();

			}
			for (var i = 0; i < ImgList.Img.length; i++) {

				var $html = $($("#swli").html());
				//  $html.css("background-image", "url('" + ImgList.Img[i] + "')");
				$html.find("img.swimg")[0].src = ImgList.Img[i];
				$html.find("img.swimg")[1].src = ImgList.Img[i];

				$html.find("video.swimg").remove();
				$html.find(".togglesound").remove();
				$(".swiper-container .swiper-wrapper").append($html)
			}

			var swiper = new Swiper('.swiper-container', {
				spaceBetween: 30,
				centeredSlides: true,
				autoplay: false,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},

			});
			//  $("#loadingToastnews").hide();
		}

		function setLike(id) {
			//alert(id);

			if (Server_Token == "") {
				$("#NoLogin").show();
				return false;
			} else {
				$.ajax({
					url: ajaxurl + "NewsLike",
					type: 'post',
					data: {
						id: id
					},
					headers: {
						"Server_Token": encodeURIComponent(Server_Token)
					},
					timeout: 30000,
					success: function(r) {
						if (r.result_status) {
							//followsuccess
							$("#followsuccess p").text("已給讚")
							if (r.result_content != "") {
								$("[liketag]").each(function(e, el) {
									$(el).removeClass("fa-heart-o")
									$(el).addClass("fa-heart")

								})
								$("[binfo=likecount2]").text("讚 (" + (parseInt("{{data.LikeCount}}") + 1) + ")");
								$("[binfo=likecount]").text("讚 " + (parseInt("{{data.LikeCount}}") + 1));
								if ("{{data.LikeTop20}}" == "") {
									$("[binfo=likelist]").text(r.result_content);
								} else {
									$("[binfo=likelist]").text("{{data.LikeTop20}}" + "," + r.result_content);
								}
								plus.webview.getLaunchWebview().evalJS(" if (cardlist.newslist.find(e => e.Member_News_ID == '" + id +
									"')) { cardlist.newslist.find(e => e.Member_News_ID == '" + id +
									"').Liked = true; cardlist.newslist.find(e => e.Member_News_ID == '" + id + "').LikeCount ++;}")

							}

							$("#followsuccess").fadeIn(200);
							setTimeout(function() {
								$("#followsuccess").hide();

							}, 1500)
						} else {
							alert(r.result_message);

						}
					},
					error: function() {
						alert("網路錯誤");

					}
				});
			}
		}

		function setFollow(id) {
			//alert(id);

			if (Server_Token == "") {
				$("#NoLogin").show();
				return false;
			} else {
				$.ajax({
					url: ajaxurl + "Follow",
					type: 'post',
					data: {
						id: id
					},
					headers: {
						"Server_Token": encodeURIComponent(Server_Token)
					},
					timeout: 30000,
					success: function(r) {
						if (r.result_status) {
							//followsuccess
							if (r.result_content == "InFollow") {
								$("#followsuccess p").text("關注成功")
								$(".weui-btn_notfollow").text("關注中");
								$(".weui-btn_notfollow").removeClass("weui-btn_notfollow").addClass("weui-btn_follow");

							} else {
								$("#followsuccess p").text("取消關注")
								$(".weui-btn_follow").text("關注");
								$(".weui-btn_follow").removeClass("weui-btn_follow").addClass("weui-btn_notfollow");
							}
							$("#followsuccess").fadeIn(200);
							setTimeout(function() {
								$("#followsuccess").hide();

							}, 1500)
						} else {
							alert(r.result_message);

						}
					},
					error: function() {
						alert("網路錯誤");

					}
				});
			}
		}

		function sendgift(id, name) {
			return;
			plus.nativeUI.confirm("你確定要送禮 " + name + " 嗎?", function(e) {
				if (e.index == 0) {
					//確定打賞
					getimdata("sendGift", {
						memberid: "{{data.Member.Member_ID}}",
						giftid: id
					}, function(r) {
						if (r.result_status) {
							// $("#ActionTitle").text("禮物清單 (目前擁有台幣:" + r.result_content + "元)");
							alert("送禮成功")
						} else {
							alert(r.result_message);
						}
					})



				}
			});
		}
		$(function() {

			new Vue({
				el: "#ActionTitle",
			})

			getimdata("getGiftList", "", function(r) {
				if (r.result_status) {

					giftlist = r.result_content;
					for (var i = 0; i < giftlist.length; i++) {
						var item = giftlist[i];
						h += '<a class="weui-grid" onclick="sendgift(' + item.GiftList_ID + ',\'' + item.Name + '\')">' +
							'<div class="weui-grid__icon">' +
							'<img src="img/emoji/' + item.Img + '"/>' +
							'</div>' +
							'<p class="weui-grid__label">' + item.Name + '</p>' +
							'<p class="weui-grid__label">' + item.SellPoints + item.PointsType + '</p>' +
							'</a>';

					}
					$html.html('<div class="weui-grids" style="" id="giftlist">' + h + '</div>');
					$("#ActionMenu").html($html.html());
					if ("{{r}}".split("|").length > 1) {
						//$("#sendgift").click();
					}
				} else {
					console.error(r.result_message);
				}

				self.isloadingpa = false;
				$("#loadmore").hide();
			})

			$("video").each(function() {
				this.volume = 1;
			});
			// for (var i = 0; i < data.CommentList.length; i++) {
			// 	var $html = $(publicTools.BBVue($("#commentcard").html(), data.CommentList[i]));
			// 	$(".commentlist").append($html);

			// }
			if (data.Member.isFollow) {
				$(".weui-btn_notfollow").text("關注中");
				$(".weui-btn_notfollow").removeClass("weui-btn_notfollow").addClass("weui-btn_follow");
			}
			//postlist
			if (data.SkillInfo) {
				if (data.SkillInfo.isEnable) {
					$(".skillinfo").attr("onclick", "hovernav(this,'" + data.SkillInfo.Member_Certification_ID + "')")
					$(".skillinfo img")[0].src = data.SkillInfo.GameImg;
					$(".skillinfo .gamename").text(data.SkillInfo.Name);
					$(".skillinfo .gamefee").text(data.SkillInfo.Fee + "幣/" + data.SkillInfo.Unit);
					$(".skillinfo .OrderTimes").text("接單" + (data.SkillInfo.OrderTimes || 0) + "次");
				} else {
					$("#postlist").hide();
				}

			} else {
				$("#postlist").hide();
			}

			$("[liketag]").each(function(e, el) {
				if ($(el).attr("liketag") == "true") {
					$(el).removeClass("fa-heart-o")
					$(el).addClass("fa-heart")
				}

			})
			addBackEvent(function() {
				// alert(1);
				$('#backSetting').click();
				// alert(2);
			});

			//$('.weui-tabbar:not(.hov)').hide();
			// alert($(".newspich").height());

			$(".newspage .newsdiv").scroll(function() {


				var op = $(this).scrollTop() * 1.0 / $(".newspich").height();
				$(".newspage .flexbar div.backb").css("background-color", "rgba(166,223,154," + (1 - op) + ")");
				var co = Math.floor((1 - op) * 255);
				// $(".newspage .flexbar div.backb").css("color", "rgb(" + co + "," + co + "," + co + ")");
				$(".newspage .flexbar").css("background-color", "rgba(166,223,154," + op + ")");
				var hidehiegth = 60 - (($(this).scrollTop() * 1.0 - $(".newspich").height() + ($(".newspage .profileinfo").height() *
					0.6)) / ($(".newspage .profileinfo").height()) * 60);
				if (hidehiegth > 60)
					hidehiegth = 60;
				if (hidehiegth < 0)
					hidehiegth = 0;
				$(".newspage .memberinfo").css("top", hidehiegth + "px");
			});
			// $(".newspage .newsdiv").scroll();
			$(".newspage .flexbar div.backb").css("background-color", "rgba(166,223,154,1)");
			$(".newspage .flexbar div.backb").css("color", "rgb(255,255,255)");
			$(".newspage .flexbar").css("background-color", "rgba(166,223,154,0)");
			$(".newspage .memberinfo").css("top", "60px");
			var $html = $($("#giftaction").html());
			var h = "";
			//禮物


			// $("#ActionTitle").text("禮物清單 (目前擁有台幣:" + wallet.P + "元)");


			var $iosActionsheet = $('#iosActionsheet');
			var $iosMask = $('#ActionDiv');
			$("#sendgift").off("click");
			$("#sendgift").on("click", function() {
				$iosActionsheet.addClass('weui-actionsheet_toggle');
				$iosMask.show();
			});

			if (ImgList.Video != "") {
				$(".demoimg").remove();
				$(".demovideo").attr("onloadedmetadata", "democomp()");
				$(".demovideo").attr("onerror", "democomp()");
				$(".demovideo").attr("src", ImgList.Video);
			} else if (ImgList.Img.length != 0) {
				$(".demoimg").attr("onload", "democomp()");
				$(".demoimg")[0].src = ImgList.Img[0];
			} else {
				$(".swiper-container").prev().hide();
				$(".swiper-container").hide();
			}
		});
	</script>
	<script>
		new Vue({
			el: "#main-content",
			data: {
				user: null,
				article: null,
				commentList: [],
				selectedVoice: null,
				voicePlayer: null,
				voiceStatus: '',

				plusVoicePlayer: null,
				plusVoiceStatus: '',

				commentModel: {
					NewsId: '',
					Content: '',
					Voice: '',
					file: ''
				},
				attachments: [],
				commentting: false,
				voiceRecording: false,
				submitting: false
			},
			computed: {
				canAddVoice: function() {
					return this.attachments.length < 1 && this.commentting;
				}
			},
			created: function() {
				this.user = JSON.parse(Server_Token);
				
				window.addEventListener('plus-voice-player-event', this.plusVoicePlayerEventHandler);
				window.addEventListener('voice-player-event', this.voicePlayerEventHandler);

				this.article = Object.assign({}, data);
				this.article.voice = this.mapVoice(data, data.Member_News_ID);

				this.mapCommentList(data.CommentList);

				this.initcommentModel();

				window.addEventListener('add-voice', this.addVoice);

				window.addEventListener('comment-created', this.onCommentCreated);

			},
			methods: {
				onCommentCreated: function(e) {
					this.initcommentModel();
					this.commentting = false;
					var comments = e.detail.comments;
					this.mapCommentList(comments);
				},
				mapCommentList: function(comments) {
					console.log('mapCommentList', comments);
					this.commentList = [];
					for (var i = 0; i < comments.length; i++) {
						var comment = Object.assign({}, comments[i]);
						comment.voice = this.mapVoice(comment, comment.Id);
						this.commentList.push(comment);
					}
				},
				canRemoveComment: function(item) {
					return item.Member_ID == this.user.Member_ID;
				},
				initcommentModel: function() {
					this.commentModel = {
						NewsId: this.article.Member_News_ID,
						Content: '',
						Voice: '',
						file: ''
					};
					this.attachments = [];
				},
				mapVoice: function(item, id) {
					if (!item.VoiceList) return null;
					var obj = JSON.parse(item.VoiceList);
					if (obj.Voice) {
						var voice = {
							id: id,
							url: '',
							duration: ''
						};
						var parts = obj.Voice.split(';');
						voice.url = parts[0];
						if (parts.length > 1) {
							voice.duration = parts[1];
						}
						return voice;
					} else return null;
				},
				initVoicePlayer: function(item) {
					this.voicePlayer = new Audio(item.url);

					this.voicePlayer.addEventListener("playing", function() {
						window.dispatchEvent(new CustomEvent('voice-player-event', {
							'detail': {
								status: 'playing'
							}
						}));
					});
					this.voicePlayer.addEventListener("ended", function() {
						window.dispatchEvent(new CustomEvent('voice-player-event', {
							'detail': {
								status: 'ended'
							}
						}));
					});
					this.voicePlayer.addEventListener("error", function(err) {
						console.error(err);
						window.dispatchEvent(new CustomEvent('voice-player-event', {
							'detail': {
								status: 'error'
							}
						}));
					});

				},
				playVoice: function(item) {
					console.log('playVoice', item);
					if (this.selectedVoice && this.selectedVoice.id == item.id) {
						if (this.voicePlayer.paused) {
							this.voicePlayer.play();
							this.voiceStatus = 'playing';
						} else {
							this.voicePlayer.pause();
							this.voiceStatus = 'paused';
						}
					} else {
						if (this.voicePlayer) {
							if (this.voicePlayer.paused) {

							} else {
								this.voicePlayer.pause();
								this.voiceStatus = 'paused';
							}
						}

						this.selectedVoice = item;
						console.log('selectedVoice:', this.selectedVoice);
						this.initVoicePlayer(item);
						this.voicePlayer.play();
					}

				},
				isPlaying: function(voice) {
					if (this.selectedVoice && this.selectedVoice.id == voice.id) {
						return this.voiceStatus == 'playing';
					} else return false;
				},
				isPaused: function(voice) {
					if (this.selectedVoice && this.selectedVoice.id == voice.id) {
						return this.voiceStatus == 'paused';
					} else return false;
				},
				voicePlayerEventHandler: function(e) {
					var status = e.detail.status;
					if (status == 'error') {
						this.onVoiceError();
					} else this.voiceStatus = status;

				},
				plusVoicePlayerEventHandler: function(e) {
					var status = e.detail.status;
					this.plusVoiceStatus = status;
					console.log('plusVoiceStatus', this.plusVoiceStatus);
					if (status == 'ended') {
						this.plusVoicePlayer.close();
					}

				},
				onVoiceError: function() {

				},
				beginComment: function() {
					this.commentting = true;
				},
				cancelComment: function() {
					this.commentting = false;
					this.initcommentModel();
				},
				beginVoiceRecording: function() {
					this.voiceRecording = true;
				},
				stopVoiceRecording: function() {
					this.voiceRecording = false;
				},
				addVoice: function(e) {
					this.voiceRecording = false;
					console.log('addVoice', e.detail);
					this.addAttachments(e.detail);
					console.log(this.attachments[0]);
				},
				addAttachments: function(item) {
					var minutes = item.minutes;
					if (item.minutes < 10) minutes = '0' + minutes;

					var seconds = item.seconds;
					if (item.seconds < 10) seconds = '0' + seconds;

					item.duration = minutes + '"' + seconds;
					item.id = '__';
					this.attachments.push(item);
				},
				removeAttachment: function() {
					this.attachments = [];
					this.stopAttachmentVoice();
				},
				playAttachmentVoice: function(item) {
					console.log('playAttachmentVoice', item);

					this.plusVoicePlayer = plus.audio.createPlayer(item.origin);

					this.plusVoicePlayer.addEventListener("play", function() {
						window.dispatchEvent(new CustomEvent('plus-voice-player-event', {
							'detail': {
								status: 'play'
							}
						}));
					});
					this.plusVoicePlayer.addEventListener("stop", function() {
						window.dispatchEvent(new CustomEvent('plus-voice-player-event', {
							'detail': {
								status: 'stop'
							}
						}));
					});
					this.plusVoicePlayer.addEventListener("ended", function() {
						window.dispatchEvent(new CustomEvent('plus-voice-player-event', {
							'detail': {
								status: 'ended'
							}
						}));
					});
					this.plusVoicePlayer.addEventListener("error", function(err) {
						console.error(err);
						window.dispatchEvent(new CustomEvent('plus-voice-player-event', {
							'detail': {
								status: 'error'
							}
						}));
					});

					this.plusVoicePlayer.play(function() {
						console.log('play cb');
					}, function(err) {
						console.error("Audio play error: " + err.message);
					});
				},
				stopAttachmentVoice: function() {
					console.log('stopAttachmentVoice');
					if (this.plusVoicePlayer) {
						this.plusVoicePlayer.stop();
						this.plusVoicePlayer.close();
					}
				},
				submitComment: function() {
					console.log('submitComment');
					var newsId = this.article.Member_News_ID;
					this.commentModel.NewsId = newsId;
					$("#loadingToast").show();

					var voiceList = [];
					if (this.attachments.length) {
						var voiceItem = this.attachments[0];
						voiceList.push(voiceItem.origin);
						this.commentModel.Voice = voiceItem.duration;
					} else this.commentModel.Voice = '';

					var task = plus.uploader.createUpload(ajaxurl + "NewsComment", {
							method: "POST",
							timeout: 0,
							blocksize: 0
						},
						function(t, status) {
							$.ajax({
								url: ajaxurl + "NewsComment",
								type: 'get',
								data: {
									newsId: newsId
								},
								headers: {
									"Server_Token": encodeURIComponent(Server_Token)
								},
								timeout: 30000,
								success: function(res) {
									$("#loadingToast").hide();
									window.dispatchEvent(new CustomEvent('comment-created', {
										detail: {
											comments: res.result_content
										}
									}));
								},
								error: function() {
									alert("網路錯誤");

								}
							});
						}
					); //end of task

					if (voiceList.length) {
						task.addFile(voiceList[0], {
							key: "voice"
						});
					}

					task.addData("NewsId", this.commentModel.NewsId);
					task.addData("Content", this.commentModel.Content);
					task.addData("Voice", this.commentModel.Voice);
					task.setRequestHeader("Server_Token", encodeURIComponent(Server_Token))
					task.start();
				} // end submitComment

			}
		});
	</script>
	<script>
		// 控制錄音
		var posStart = 0; //初始化起点坐标
		var posEnd = 0; //初始化终点坐标
		var posMove = 0; //初始化滑动坐标

		var r = null,
			t = null,
			ri = null,
			rt = null,
			p = null;
		var entry = null;
		var isstart = false;
		var isplaying = false;

		function startRecord(ele) {
			isstart = true;
			r = plus.audio.getRecorder();
			if (r == null) {
				alert('錄音實例化失敗');
				return;
			}
			var forma = "";

			if (plus.os.name == "Android") forma = "amr";
			else forma = "aac";

			r.record({
				filename: '_doc/audio/',
				format: forma,
			}, function(path) {
				onVoiceRecorded(path);
			}, function(e) {
				alert('錄音失敗：' + e.message);
			});

		}


		function stopRecord() {
			isstart = false;
			if (r != null) {
				r.stop();
			}
		}



		function onVoiceRecorded(path) {
			var player = plus.audio.createPlayer(path);

			plus.io.resolveLocalFileSystemURL(path, function(entry) {
				var origin = entry.toLocalURL();
				setTimeout(function() {
					var duration = player.getDuration();
					var detail = {
						type: 'voice',
						origin: origin,
						path: path,
						minutes: Math.floor(duration / (60)),
						seconds: Math.floor(duration / (1))
					};
					window.dispatchEvent(new CustomEvent('add-voice', {
						'detail': detail
					}));

					player.close();
				}, 500)


			}, function(e) {
				alert('錄音失敗：' + e.message);
			});

		}

		var voiceBtn = document.getElementById("voice-msg-btn");
		voiceBtn.addEventListener("touchstart", function(e) {
			e.preventDefault(); //阻止浏览器默认行为
			posStart = 0;
			posStart = e.touches[0].pageY; //获取起点坐标
			// btnElem.value = '松开 结束';
			$(voiceBtn).addClass("button--animate");
			$(voiceBtn).find("i").css("color", "red");

			startRecord();
		});

		voiceBtn.addEventListener("touchend", function(e) {
			e.preventDefault();
			posEnd = 0;
			posEnd = e.changedTouches[0].pageY; //获取终点坐标

			$(voiceBtn).removeClass("button--animate");
			$(voiceBtn).find("i").css("color", "dimgray");

			stopRecord();
		});
	</script>
</div>
